$dark-gray: #1e213a;
$very-dark-gray: #100e1d;
$gray: #6e707a;
$light-gray: rgba($gray, 0.3);
$very-light-gray: #e7e7eb;
$light-grayish-blue: #a09fb1;
$grayish-blue: #88869d;

:root {
    --range: 0;
    --deg: 0;
}
